{% extends 'base.html.twig' %}

{% block title %}Edit Hotel{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Editar</h1>
        <hr class="my-4">

        <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {{ include('hotel/_form.html.twig', {'button_label': 'Actualizar'}) }}
            </div>
            <br>
            <div class="col-sm-12">
            <br>
                 <a href="{{ path('hotel_index') }}" class="btn btn-primary">Regresar</a>
                 <br>
                 <br>
                 {{ include('hotel/_delete_form.html.twig') }}
            </div>
            </div>
        </div>
        </div>
    </div>

    
{% endblock %}
