{% extends 'base.html.twig' %}

{% block title %}Destinos{% endblock %}

{% block body %}
 {% block section %}
    <!-- start banner Area -->
			<section class="about-banner relative">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Destinos
							</h1>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->
{% endblock section %}
<!--==========================
      Services Section
    ============================-->


<!-- bootstrap-pop-up 1 -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <H3>MIRA EL CLIMA ANTES DE VIAJAR </H3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <section>
        <div class="modal-body">          


<a class="weatherwidget-io" href="https://forecast7.com/es/n2d17n79d92/guayaquil/" data-label_1="CIMA ECUATRIP" data-label_2="Guayaquil" data-theme="original" >CLIMA ECUATRIP Guayaquil</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
        </div>  


          Buen Viaje 


            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>



<!-- bootstrap-pop-up 2 -->
<div class="modal video-modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <H3>MIRA EL CLIMA ANTES DE VIAJAR </H3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
        <div class="modal-body">
<a class="weatherwidget-io" href="https://forecast7.com/es/n0d18n78d47/quito/" data-label_1="CLIMA ECUATRIP" data-label_2="Quito" data-theme="original" >CLIMA ECUATRIP Quito</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
  		</div>

  <div>  Buen Viaje  </div>

    </div>
  </div>
</div>




<!-- bootstrap-pop-up 3 -->
<div class="modal video-modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <H3>MIRA EL CLIMA ANTES DE VIAJAR </H3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
        <div class="modal-body">
  		</div>
<a class="weatherwidget-io" href="https://forecast7.com/es/n0d36n75d62/cuyabeno/" data-label_1="CLIMA ECUTRIP" data-label_2="Cuyabeno" data-theme="original" >CLIMA ECUTRIP Cuyabeno</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
  <div>  Buen Viaje  </div>
    </div>
    
  </div>
</div>



    <section id="services" class="section-bg">
      <div class="container">
        <header class="section-header">
          <h2>Destinos</h2>
          <h3><p>Los destinos más populares del Ecuador según los viajeros .</p></h3>

        </header>


        <div class="row">

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
             
               <img src="https://1.bp.blogspot.com/-KxUHNY5D3QQ/XR-hwo0eHBI/AAAAAAAAYDM/UsvKknhlqUcSx-e3rhUti-kv46MZFfEmQCLcBGAs/s1600/agenda-completa-fiestas-del-mes-de-julio-en-guayaquil.jpg" height="200" width="250"  class="rounded-circle" alt="Cinque Terre">
              
              <h4 class="title"><a href="#" data-toggle="modal" data-target="#myModal"> Guayaquil </a></h4>
              <p class="description">Si se busca un lugar que sirva de termómetro para medir el pulso turístico de esta ciudad, ese debe ser el parque Seminario o de las Iguanas. Es el destino obligado de cada viajero, nacional o extranjero, en Guayaquil.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <img src="https://upload.wikimedia.org/wikipedia/commons/2/25/Virgen_de_Quito_Panecillo_Detalle.jpg" width="250" height="200" class="rounded-circle" alt="Cinque Terre">
              <h4 class="title"><a href="#" data-toggle="modal" data-target="#myModal1"> Quito</a></h4>
              <p class="description">Conoce el Primer Patrimonio Cultural de la Humanidad. Un paseo por la historia de esta hermosa ciudad. Quito cuenta con una interesante y variada propuesta de entretenimiento para todos los gustos y todas las edades.</p>
            </div>
          </div>



          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
             <img src="https://r-cf.bstatic.com/images/hotel/max1024x768/592/59298597.jpg" width="250" height="200" class="rounded-circle" alt="Cinque Terre">
              <h4 class="title"><a href="#" data-toggle="modal" data-target="#myModal2">Cuyabeno </a></h4>
              <p class="description">Cuyabeno es el área más diversa del mundo con lagunas, estrechos ríos y arroyos, ¡y el único gran parque amazónico del mundo! ¡ Por eso es el área más apta para el turismo en el Amazonas, Ecuador.</p>
            </div>
          </div>

           </div>
		</div>

          
{% endblock %}
