{% extends 'base.html.twig' %}

{% block title %}New City{% endblock %}

{% block body %}
{% block section %}
    <!-- start banner Area -->
			<section class="about-banner relative">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Hoteles
							</h1>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->
{% endblock section %}
    <h1>Create new City</h1>

    {{ include('city/_form.html.twig') }}

    <a href="{{ path('city_index') }}">back to list</a>
{% endblock %}
