{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %} 
</br>
</br>
</br>
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
            </br>
				<h3>Iniciar Sesion</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div>
			</div>
			<div class="card-body">
                <form action="{{ path("fos_user_security_check") }}" method="post">

                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}

                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
						    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" class="form-control" placeholder="username"/>
					</div>

                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
                        <input type="password" id="password" name="_password" required="required" autocomplete="current-password" class="form-control" placeholder="password"/>
					</div>
                    
                    <div class="row align-items-center remember">
                        <input type="checkbox" id="Recordarme" name="_remember_me" value="on" />Remember Me
					</div>

                    <div class="form-group">
                        <input type="submit" id="_submit" name="_submit" value="Iniciar" class="btn float-right login_btn"/>
					</div>
                    {% if error %}
					</br>
    				<div class="d-flex justify-content-center links"> {{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
                </form>

				{% if error == false%}
					</br>
				{% endif %}


			<div class="card-footer">
				
				<div class="d-flex justify-content-center links">
					¿No tiene cuenta?<a href="http://localhost:8000/register/" >Regístrese</a>
				</div>

				<div class="d-flex justify-content-center">
					<a href="#">¿Olvidó su contraseña?</a>
				</div>

			</div>
			</div>
		</div>
	</div>
{% endblock fos_user_content%}
