{% if res is defined %}
    <h1> Resultados</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Ciudad Origen</th>
                <th>Ciudad Destino</th>
                <th>Dia</th>
                <th>Bus</th>
                
            </tr>
        </thead>
        <tbody>
        {% for results in res %}
            <tr>
                <td>{{ results.originCity.name }}</td>
                <td>{{ results.destinyCity.name }}</td>
                <td>{{ results.Bus.NumBus }}</td>
                <td>{{ results.day }}</td>
                <td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
