<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenido!{% endblock %}</title>
   
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/estilos.css') }}" rel="stylesheet">
        {% block stylesheets %} 
        
        {% endblock %}
    </head>
    <body>
        <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <img class="img-fluid d-block mx-auto img" src="https://scontent.fuio6-1.fna.fbcdn.net/v/t1.0-9/62173011_2280650658917439_1935039043528032256_n.jpg?_nc_cat=109&_nc_eui2=AeEm2ZBBl1Oine3-A3Pe7JCxgs0TbGfj5wKUDBEoX6uQmIvz8LCe30fzWHLpnD-qkuCTaWrJP9QIXqMZthkya33r_bBuCM144pSIkVPBKG5SmA&_nc_oc=AQkSBoqPrJQ6F3PpzxFws4g2PaKLLGtKbNO9fBlx9QPkJm7miSUeprpFP5DlXi79nY8&_nc_ht=scontent.fuio6-1.fna&oh=0055a24ff585fa3b1a357f57431861ed&oe=5D7A8B22">
      <a class="navbar-brand" href="../">&nbsp;&nbsp;Transportes Ecuador</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="http://localhost:8000">Inicio
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:8000/hotel/">Hotel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:8000/habitaciones/">Habitaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:8000/paquetes/">Paquetes</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

        <br>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
