{% extends 'base.html.twig' %}

{% block title %}New Paquetes{% endblock %}

{% block body %}
    <h1>Create new Paquetes</h1>

    {{ include('paquetes/_form.html.twig') }}

    <a href="{{ path('paquetes_index') }}">back to list</a>
{% endblock %}
