{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %} 
        <link href="{{ asset('css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block fos_user_content %}
    </br>
</br>
    <div class="d-flex justify-content-center h-100">
		<div class="card3">
			<div class="card-header">
            </br>
				<h3>Completa el registro</h3>
			</div>
			<div class="card-body">
                <div class="d-flex justify-content-center links2">

                    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
				</div>

			<div class="card-footer">
                <center>
				    <a href="http://localhost:8000/login" class="btn login_btn"/>Aceptar</a>
                 </center>
			</div>
            </div>
		</div>
</div>


{% endblock fos_user_content %}
{% block footer %}

{% endblock footer %} 