{% extends 'base.html.twig' %}

{% block title %}New Asiento{% endblock %}

{% block body %}
    <h1>Create new Asiento</h1>

    {{ include('asiento/_form.html.twig') }}

    <a href="{{ path('asiento_index') }}">back to list</a>
{% endblock %}
